<%= form_for @game_log do |f| %>
  <%= hidden_field_tag(:game, params[:game_id]) %>
  <h1>Add Game Log</h1>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :completion_date, class: 'form-label' %>
      <%=
        f.date_field(
          :completion_date,
          required: true,
          class: 'form-control'
        )
      %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :hours, class: 'form-label' %>
      <%= f.text_field :hours, class: 'form-control' %>
    </div>
  </div>
  <div class="form-buttons">
    <%= link_to "Cancel", games_path, class: 'btn btn-outline-danger pull-right'  %>
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>