<%= form_for @game do |f| %>
  <div class="row">
    <div class="col-lg-6 col-xs-10">
      <div class="form-group">
        <%= f.label :title, 'Game Title' %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-1 col-xs-2">
      <div class="form-group">
        <%= f.label :owned, 'Owned?' %><br />
        <%= f.check_box :owned, class: 'form-control checkbox' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :series %><br />
        <%= f.text_field :series, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :order %><br />
        <%= f.text_field :order, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :hour_estimate %><br />
        <%= f.text_field :hour_estimate, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :system_id %><br />
        <%=
          f.select(
            :system_id,
            options_for_select(
              System.order(:system).map { |r| [r.system, r.id] },
              @game.system_id
            ),
            { include_blank: true },
            selected: '',
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :status %><br />
        <%=
          f.select(
            :status,
            enum_selection(f.object.class, :status),
            { include_blank: true },
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
  </div>
  <div class="form-buttons">
    <%= link_to "Cancel", games_path, class: 'btn btn-default'  %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
