<%= form_for @game do |f| %>
  <div class="row">
    <div class="col-lg-6 col-xs-10">
      <div class="form-group">
        <%= f.label :title, 'Game Title' %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-1 col-xs-2">
      <div class="form-group">
        <%= f.label :owned, 'Owned?' %><br />
        <%= f.check_box :owned, class: 'form-control checkbox' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :series %><br />
        <%= f.text_field :series, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :sort %><br />
        <%= f.text_field :sort, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :hr_est %><br />
        <%= f.text_field :hr_est, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :system_id %><br />
        <%=
          f.select(
            :system_id,
            options_for_select(
              System.where(active: true).order(:system).map { |r| [r.system, r.id] },
              @game.system_id
            ),
            { include_blank: true },
            selected: '',
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :service %><br />
        <%= f.text_field :service, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :status_id %><br />
        <%=
          f.select(
            :status_id,
            options_for_select(
              Status.order(:name).map { |r| [r.name, r.id] },
              @game.status_id
            ),
            { include_blank: true },
            selected: '',
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
  </div>
  <%# TODO: Make the completed section work when Complete is selected in the status %>
  <%# if :status == 'Complete' %>
  <div class="row">
    <div class="col-lg-3">
      <div id="sandbox-container" class="form-group">
        <%= f.label :date_comp %><br />
        <%= f.text_field :date_comp, data: { provide: 'datepicker' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label :hr_comp %><br />
        <%= f.text_field :hr_comp, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%# end %>
  <div class="form-buttons">
    <%= link_to "Cancel", games_path, class: 'btn btn-default'  %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
