<%= form_with scope: :game, url: games_path, local: true do |f| %>
  <div class="row">
    <div class="col-lg-10">
      <div class="form-group">
        <%= f.label :title, 'Game Title' %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <%= f.label :owned, 'Owned?' %><br />
        <%= f.check_box :owned, class: 'form-control checkbox' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :series %><br />
        <%= f.text_field :series, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label :sort %><br />
        <%= f.text_field :sort, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label :hr_est %><br />
        <%= f.text_field :hr_est, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :system %><br />
        <%=
          f.select(
            :system,
            options_for_select(
              System.all.order(:system).map { |r| [r.system, r.id] },
              @game.system_id
            ),
            { include_blank: true },
            selected: '',
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
    <div class="col-lg-4">
      <%= f.label :service %><br />
      <%= f.text_field :service, class: 'form-control' %>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label :status %><br />
        <%=
          f.select(
            :status,
            options_for_select(
              Status.all.order(:name).map { |r| [r.name, r.id] },
              @game.status_id
            ),
            { include_blank: true },
            selected: '',
            class: 'form-control',
            data: {
              placeholder: ' '
            }
          )
        %>
      </div>
    </div>
  </div>
  <%# if :status == 'Complete' %>
  <div class="row">
    <div class="col-lg-9">
      <div class="form-group">
        <%= f.label :date_comp %><br />
        <%= f.text_field :date_comp, data: { provide: 'datepicker' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label :hr_comp %><br />
        <%= f.text_field :hr_comp, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%# end %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
