<table class="table dreadsheet-table table-striped table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>Game</th>
      <th>Status</th>
      <th>System</th>
      <th>Owned?</th>
      <th>Hr Est</th>
      <% if page == 'complete_abandoned' %>
        <th>Hr Comp</th>
        <th>Comp Date</th>
      <% end %>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.status? ? game.status.titleize : '' %></td>
        <td><%= game.system.nickname %></td>
        <td><%= game.owned? ? 'Yes' : 'No' %></td>
        <td>
          <%=
            number_with_precision(
              game.hour_estimate,
              precesion: 1,
              strip_insignificant_zeros: true
            )
          %>
        </td>
        <% if page == 'complete_abandoned' %>
          <% if game.game_logs.exists? %>
            <% game.game_logs.order(completion_date: :desc).each do |log| %>
              <td>
                <%=
                  log.hours.nil? ?
                    '' :
                    number_with_precision(
                      log.hours,
                      precesion: 1,
                      strip_insignificant_zeros: true
                    )
                %>
              </td>
              <td><%= log.completion_date %></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        <% end %>
        <td>
          <%= link_to 'Edit', edit_game_path(game), title: "Edit #{game.title}", class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>