<div class="navbar-sub">
  <%=
    link_to(
      'All Games',
      {
        controller: :games,
        action: :index
      },
      class: [
        'btn',
        if current_page?(games_path)
          'btn-success'
        else
          'btn-outline-success'
        end
      ]
    )
  %>
  <%=
    link_to(
      'In Progress/Priority',
      {
        controller: :games,
        action: :in_progress_priority
      },
      class: [
        'btn',
        if current_page?(in_progress_priority_games_path)
          'btn-primary'
        else
          'btn-outline-primary'
        end
      ]
    )
  %>
  <%=
    link_to(
      'Complete/Abandoned',
      {
        controller: :games,
        action: :complete_abandoned
      },
      class: [
        'btn',
        if current_page?(complete_abandoned_games_path)
          'btn-primary'
        else
          'btn-outline-primary'
        end
      ]
    )
  %>
  <%=
    link_to(
      'Unowned',
      {
        controller: :games,
        action: :unowned
      },
      class: [
        'btn',
        if current_page?(unowned_games_path)
          'btn-primary'
        else
          'btn-outline-primary'
        end
      ]
    )
  %>
  <%=
    link_to(
      'Games to Play',
      {
        controller: :games,
        action: :games_to_play
      },
      class: [
        'btn',
        if current_page?(games_to_play_games_path)
          'btn-primary'
        else
          'btn-outline-primary'
        end
      ]
    )
  %>
  <%=
    link_to(
      'PC Games',
      {
        controller: :games,
        action: :pc_games
      },
      class: [
        'btn',
        if current_page?(pc_games_games_path)
          'btn-dark'
        else
          'btn-outline-dark'
        end
      ]
    )
  %>
  <%=
    link_to(
      'Switch Games',
      {
        controller: :games,
        action: :switch_games
      },
      class: [
        'btn',
        if current_page?(switch_games_games_path)
          'btn-dark'
        else
          'btn-outline-dark'
        end
      ]
    )
  %>
  <%=
    link_to(
      'PS4 Games',
      {
        controller: :games,
        action: :ps4_games
      },
      class: [
        'btn',
        if current_page?(ps4_games_games_path)
          'btn-dark'
        else
          'btn-outline-dark'
        end
      ]
    )
  %>
  <%= link_to 'Add Game', new_game_path, class: 'btn btn-primary' %>
</div>