<table class="table dreadsheet-table">
  <tr>
    <th>Game</th>
    <th>Status</th>
    <th>System</th>
    <th>Owned?</th>
    <th>Hr Est</th>
    <th>Hr Comp</th>
    <th>Date Comp</th>
    <th>&nbsp;</th>
  </tr>
  <% @games.all.sort_by(&:sort_string).each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td>
        <% if game.status %>
          <%= game.status.name %>
        <% end %>
      </td>
      <td>
        <% if game.service %>
          <%= game.service %>
        <% else %>
          <%= game.system.system %>
        <% end %>
      </td>
      <td>
        <% if game.owned %>Yes
        <% end %></td>
      <td><%= game.hr_est %></td>
      <td><%= game.hr_comp %></td>
      <td><%= game.date_comp %></td>
      <td>
        <%= link_to 'Edit', edit_game_path(game), title: "Edit #{game.title}" %>
      </td>
    </tr>
  <% end %>
</table>

